@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*--------------------------------------------------------------
# COMMON
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
}

body{
  min-height: 100vh;
}

/*--------------------------------------------------------------
# NAVBAR
--------------------------------------------------------------*/
.navbar {
  z-index: 500;
  transition: background-color 200ms linear;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-height: 76px;
  width: 100%;
}

.navbar-brand img {
  height: 50px;
}

.navbar-brand span {
  font-size: 1.5rem !important;
  font-weight: 700;
  color: black;
  padding-left: 1rem;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link,
.nav-link :visited {
  text-decoration: none;
  color: black;
}

.nav-link.active {
  font-weight: 700;
}

.navbar-toggler-icon > i {
  color: black;
}

/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/
main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/*--------------------------------------------------------------
# INDEX
--------------------------------------------------------------*/
.landing .hero {
  background-color: lavender;
}

.landing .hero img {
  width: 100%;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
footer {
  background-color: rgb(57, 47, 79) ;
  color: #fff;
}
